.page_ids {
	cursor: pointer;
}
/*#ednewsitemscourses {
	display: block !important;
}*/

#ednewsitemscourses {
	background: none !important;
	border:none;
	color:#999;
}
#ednewsitemscourses:hover {
	color:#ff9900;
}

